USE [Lab2]
GO
/****** Object:  Table [dbo].[salidaDB$]    Script Date: 09/03/2024 10:28:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salidaDB$](
	[Curso] [float] NULL,
	[Palabra] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[salidaDB$] ([Curso], [Palabra]) VALUES (1, N'diagnÃ³stico')
INSERT [dbo].[salidaDB$] ([Curso], [Palabra]) VALUES (16, N'diagnÃ³stico')
INSERT [dbo].[salidaDB$] ([Curso], [Palabra]) VALUES (1, N'tratamiento')
GO
